---
import Title from './Title.astro'
import MenuIcon from './icons/MenuIcon.astro'
type Props = {
	title: string
}

const { title } = Astro.props
---

<div class='flex justify-start items-center gap-2 title'>
	<Title><a href="/">{title}</a></Title>
</div>
